* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-y: hidden;
    background-color: #313131;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #313131;
}

.outer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
}

.loader {
    height: 200px;
    position: relative;
    width: 200px;
    border: 1px solid transparent;
    border-top: 2px solid #0088a9;
    border-right: 8px solid #0088a9;
    border-bottom: 8px solid transparent;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

.loader::after {
    content: '';
    background: #0088a9;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 20px;
    box-shadow: 0 0 25px #0088a9;
}

.text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #0088a9;
    font-size: 18px;
    font-family: comic sans ms;
}

.text::before {
    content: '';
    height: 6px;
    width: 6px;
    background: transparent;
    display: flex;
    position: absolute;
    bottom: 3px;
    right: 0;
    border-radius: 50%;
    animation: load 2s linear infinite;
    transition: all ease 2s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

header {
    z-index: 10;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    box-shadow: 0 5px 6px 0 #00000063;
}

.logo {
    outline: none;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

.login-content {
    padding: 50px;
    margin-left: 60vh;
    margin-right: 60vh;
    text-align: left;
    background-color: #2a2a2a;
    border-radius: 2px;
    box-shadow: 5px 5px 6px 0 #00000063;
    margin-top: 47vh;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.login-content h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #e2e2e2;
    font-size: 200%;
}

.login-content .subtitle {
    color: #fff;
    font-size: 100%;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
    margin-bottom: 5px;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(196, 196, 196);
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #0088a9;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: #0088a9;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #999;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 5px;
}

.password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    color: #f9f9f9;
    transition: all 0.2s;
}

.password-icon:hover {
    cursor: pointer;
    color: #ff4754;
}

.password-icon .feather-eye-off {
    display: none;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #37a7c4, #0088a9, #37a7c4);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}

.erreur {
    text-align: center;
    color: #ffa00a;
    font-size: 120%;
}

@keyframes load {
    0% {
        box-shadow: 10 px 0 0 transparent;
    }
    10% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9;
    }
    30% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0#0088a9;
    }
    60% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0 #0088a9, 40px 0 0#0088a9;
    }
    90% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0 #0088a9, 40px 0 0 #0088a9, 50px 0 0 #0088a9;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

@media screen and (max-width: 900px) {
    .login-content {
        margin-left: 0vh;
        margin-right: 0vh;
        box-shadow: none;
        margin-top: 44vh;
        transform: translateY(-50%);
        justify-content: center;
    }
    .login-content h2 {
        font-size: 170%;
    }
    .login-content .subtitle {
        font-size: 70%;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }
}