* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #313131;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #313131;
}

.outer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
}

.loader {
    height: 200px;
    position: relative;
    width: 200px;
    border: 1px solid transparent;
    border-top: 2px solid #0088a9;
    border-right: 8px solid #0088a9;
    border-bottom: 8px solid transparent;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

.loader::after {
    content: '';
    background: #0088a9;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 20px;
    box-shadow: 0 0 25px #0088a9;
}

.text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #0088a9;
    font-size: 18px;
    font-family: comic sans ms;
}

.text::before {
    content: '';
    height: 6px;
    width: 6px;
    background: transparent;
    display: flex;
    position: absolute;
    bottom: 3px;
    right: 0;
    border-radius: 50%;
    animation: load 2s linear infinite;
    transition: all ease 2s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

header {
    z-index: 10;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    box-shadow: 0 5px 6px 0 #00000063;
}

.logo {
    outline: none;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    z-index: 100;
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    outline: none;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    outline: none;
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
    outline: none;
}

.container {
    padding: 20px;
    text-align: center;
    margin-top: 40vh;
    transform: translateY(-50%);
}

.headline {
    font-size: 250%;
}

.titlechange::before {
    content: "idéal.";
    animation: aaa 8s infinite;
}

hr {
    color: #3f3f3f;
    width: 40%;
}

@keyframes aaa {
    0% {
        content: "idéal.";
    }
    25% {
        content: "partout.";
    }
    50% {
        content: "à tout moment.";
    }
    75% {
        content: "avec Myfideal !";
    }
}

@keyframes load {
    0% {
        box-shadow: 10px 0 0 transparent;
    }
    10% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9;
    }
    30% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0#0088a9;
    }
    60% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0 #0088a9, 40px 0 0#0088a9;
    }
    90% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0 #0088a9, 40px 0 0 #0088a9, 50px 0 0 #0088a9;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

@media screen and (max-width: 900px) {
    .banner {
        padding: 10px;
    }
    .container {
        padding: 10px;
        margin-top: 35vh;
    }
    .headline {
        font-size: 150%;
    }
    .introduction {
        margin-left: 0;
    }
    .subquestion {
        font-size: 90%;
    }
    .subtitle {
        font-size: 62%;
    }
    .findaccount {
        margin-left: 0px;
        margin-right: 0px;
    }
    .input {
        font-size: 70%;
    }
    .search {
        width: 24%;
        padding-bottom: 11px;
        letter-spacing: 1px;
        font-size: 70%;
    }
    .erreur {
        margin-left: 3px;
        font-size: 60%;
    }
}