*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
                                    
body{
    overflow-y: hidden;
    background-color: #313131;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #313131;
}
                                    
.outer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
}
                                    
.loader {            
    height: 200px;
    position: relative;
    width: 200px;
    border: 1px solid transparent;
    border-top: 2px solid #0088a9;
    border-right: 8px solid #0088a9;
    border-bottom: 8px solid transparent;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}
                                    
.loader::after {
    content: '';
    background: #0088a9;
    height: 15px;     
    width: 15px;
    border-radius: 50%;
    display: flex;            
    position: absolute;
    bottom: 15px;
    right: 20px;
    box-shadow: 0 0 25px #0088a9;
}
                                    
.text {
    position: absolute;
    top: 50%;
    left: 45%;         
    transform: translate(-50%, -50%);
    color: #0088a9;
    font-size: 18px;
    font-family: comic sans ms;
}
                                    
.text::before {
    content: '';
    height: 6px;
    width: 6px;
    background: transparent;
    display: flex;
    position: absolute;
    bottom: 3px; 
    right: 0;
    border-radius: 50%;
    animation: load 2s linear infinite;
    transition: all ease 2s;
}
                                   
.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
                                    
.login-content{
    padding: 50px;
    margin-left: 60vh;
    margin-right: 60vh;
    text-align: left;
    background-color: #2a2a2a;
    border-radius: 2px;
    box-shadow: 5px 5px 6px 0 #00000063;
    margin-top: 47vh;
    transform: translateY(-50%);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
                                    
.login-content .step{
    margin-top: -20px;    
    margin-left: -20px;
    font-size: 97%;
    color: grey;
}
                                    
.login-content h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #e2e2e2;
    font-size: 200%;
}
                                    
.login-content .subtitle{
    color: #fff;
    font-size: 100%;
}
                                      
.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 20px 0;  
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
                                    
.login-content .input-div.one{
    display: inline-block;
    width: 48%;
    margin-top: -30px;
    margin-right: 11px;
    margin-bottom: 5px;
}
                                    
.login-content .input-div.two{
    display: inline-block;
    width: 48%;
    margin-top: -30px;
    margin-bottom: 5px;
}
                                    
.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
                                    
.i i{
    transition: .3s;
}
                                    
.input-div > div{
    position: relative;
    height: 45px;
}
                                    
.input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
	color: rgb(196, 196, 196);
    font-size: 18px;
    transition: .3s;
}

.input-div.pass > div > h6{
    position: absolute;
    top: -5px;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(196, 196, 196);
    font-size: 15px;
    transition: .3s;
}

.input-div:before,
.input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #0088a9;
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after{
    width: 50%;
}

.input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i{
    color: #0088a9;
}

.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #999;
    font-family: 'poppins', sans-serif;
}

.input-div.pass{
    margin-bottom: 5px;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #37a7c4, #0088a9, #37a7c4);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover{
    background-position: right;
}

.erreurprincipal{
    text-align: center;
    color: #ffa00a;
    font-size: 120%;
}

@keyframes load {
    0% {
        box-shadow: 10 px 0 0 transparent;
    }
    10% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9;
    }
    30% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0#0088a9;
    }
    60% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0 #0088a9, 40px 0 0#0088a9;
    }
    90% {
        box-shadow: 10px 0 0 #0088a9, 20px 0 0 #0088a9, 30px 0 0 #0088a9, 40px 0 0 #0088a9, 50px 0 0 #0088a9;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }
    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
}

@media screen and (max-width: 900px){
    .login-content{
        margin-left: 0vh;
        margin-right: 0vh;
        box-shadow: none;
        margin-top: 44vh;
        transform: translateY(-50%);
    }
    .login-content .input-div.one{
        display: inline-block;
        width: 47%;
        margin-top: -30px;
        margin-right: 11px;
        margin-bottom: 5px;
    }
    .login-content .input-div.two {
        display: inline-block;
        width: 47%;
        margin-top: -30px;
        margin-bottom: 5px;
    }
    .input-div.pass > div > h6 {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(196, 196, 196);
        font-size: 18px;
        transition: .3s;
    }
    .input-div.focus > div > h6 {
        top: -5px;
        font-size: 15px;
    }
    .btn {
        font-size: 1rem;
    }
}